/* Ici placer votre @import avec une police si vous souhaitez rajouter vos polices d'Ã©criture (aller sur GoogleFont par exemple)*/

html, body {
    margin: 0;
    /* Veuillez placer votre police d'Ã©criture que vous souhaitez */
    font-family: ;
    overflow-x: hidden;
}
            
header {
    display:flex;
    background-color: #865b39;
}

/* A activer pour grand écran */
h1 {
    color:#dddddd;
    display:none;
}

.nav-bar {
    display:flex;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    font-size: 22px;
    color: #dddddd;
}

.search {
    display:none;
}

.nav-bar-screenUp {
    display:none;
}

li {
    margin-left: 8%;
}

.image {
    display: flex;
    justify-content: center;
    margin-top:10%;
}

.img2Portable {
    display:flex;
}

footer {
    background-color:#4db325;
    display:flex;
    justify-content: center;
    padding: 3.5%;
    margin-top: 8%;
}

.content {
    display:flex;
    justify-content:space-around;
}

.desktop {
    display:none;
}

@media (min-width: 430px) {
    h1 {
        display:block;
        margin-right: 2%;
    }

    .nav-bar {
        display:flex;
        font-size: 22px;
        margin: auto;
        padding:2%;
        color: #dddddd;
    }

    .nav-bar-screenUp {
        display: flex;
        flex-direction:column;
        background-color: #2c2c2c;
        padding:3%;
        color:#dddddd;
        font-size:18px;
    }

    .image {
        margin-top:0%;
        width:100%;
        height:auto;
    }

    .img2Portable {
        display:none;
    }

    .main-menu {
        display:flex;
    }

    .desktop {
        display:block;
    }

    .content {
        margin-top: 7%;
    }
}

@media (min-width: 1000px) {
    .nav-bar {
        font-size: 30px;
    }
}

@media (min-width: 1920px) {
    .logo {
        width:200px;
        height:200px;
    }

    .search {
        display:block;
        margin-right: 2%;
        font-size: 28px;
    }

    header {
        font-size:30px;
    }

    .nav-bar {
        font-size: 40px;
    }

    .nav-bar-screenUp {
        font-size: 40px;
    }

    .content {
        font-size:35px;
    }

    .txt-content {
        margin-right: 4%;
    }

    footer {
        font-size: 30px;
    }
}